<div class="angular-layout">
  @if (sidenavOpen) {
  <div class="sidenav-overlay" (click)="closeSidenav()"></div>
  }

  <aside class="sidenav" [class.open]="sidenavOpen">
    <nav class="sidenav-nav">
      <a routerLink="/angular/1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"
        class="nav-parent">
        მოდული 1: Angular-ის საფუძვლები
      </a>
      <ul class="sidenav-sub">
        <li><a routerLink="/angular/1" fragment="overview" [class.active]="isFragmentActive('overview')"
            (click)="closeSidenav()">Angular მიმოხილვა</a></li>
        <li><a routerLink="/angular/1" fragment="installation" [class.active]="isFragmentActive('installation')"
            (click)="closeSidenav()">Angular-ის ინსტალაცია</a></li>
        <li><a routerLink="/angular/1" fragment="cli-capabilities" [class.active]="isFragmentActive('cli-capabilities')"
            (click)="closeSidenav()">CLI-ის ძირითადი
            შესაძლებლობები</a></li>
        <li><a routerLink="/angular/1" fragment="new-app" [class.active]="isFragmentActive('new-app')"
            (click)="closeSidenav()">ახალი აპლიკაციის შექმნა</a></li>
        <li><a routerLink="/angular/1" fragment="cli-ng-new" [class.active]="isFragmentActive('cli-ng-new')"
            (click)="closeSidenav()">რას აკეთებს CLI (ng new)</a></li>
        <li><a routerLink="/angular/1" fragment="project-files" [class.active]="isFragmentActive('project-files')"
            (click)="closeSidenav()">პროექტის ძირითადი ფაილები</a>
        </li>
        <li><a routerLink="/angular/1" fragment="run" [class.active]="isFragmentActive('run')"
            (click)="closeSidenav()">დაინსტალირება და გაშვება</a></li>
        <li><a routerLink="/angular/1" fragment="summary_1" [class.active]="isFragmentActive('summary_1')"
            (click)="closeSidenav()">შეჯამება</a></li>
        <li>
          <a href="" [class.active]="isFragmentActive('questions_1')"
             (click)="navigateToQuestions('1', $event)">შემაჯამებელი კითხვები</a>
        </li>
      </ul>

      <a routerLink="/angular/2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-parent" (click)="closeSidenav()">
         კომპონენტები, Template და Data Binding
      </a>
      <ul class="sidenav-sub">
        <li><a routerLink="/angular/2" fragment="what-is-component" [class.active]="isFragmentActive('what-is-component')"
            (click)="closeSidenav()"> რა არის კომპონენტი?</a></li>
        <li><a routerLink="/angular/2" fragment="component-template"
            [class.active]="isFragmentActive('component-template')" (click)="closeSidenav()"> Template და Component
            Class</a></li>
        <li><a routerLink="/angular/2" fragment="data-binding" [class.active]="isFragmentActive('data-binding')"
            (click)="closeSidenav()"> Data Binding-ის ტიპები</a>
        </li>
        <li><a routerLink="/angular/2" fragment="cli_2" [class.active]="isFragmentActive('cli_2')"
            (click)="closeSidenav()"> კომპონენტის შექმნა</a></li>
        <li><a routerLink="/angular/2" fragment="example" [class.active]="isFragmentActive('example')"
            (click)="closeSidenav()"> პრაქტიკული მაგალითი</a></li>
        <li><a routerLink="/angular/2" fragment="summary_2" [class.active]="isFragmentActive('summary_2')"
            (click)="closeSidenav()"> შეჯამება</a></li>
        <li>
          <a href="" [class.active]="isFragmentActive('questions_2')"
             (click)="navigateToQuestions('2', $event)"> შემაჯამებელი კითხვები</a>
        </li>
      </ul>
      <a routerLink="/angular/3" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-parent" (click)="closeSidenav()">
        მოდული 3: Forms
      </a>

      <a routerLink="/angular/4" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-parent" (click)="closeSidenav()">
        მოდული 4: RxJS & State Management
      </a>

      <a routerLink="/angular/5" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        class="nav-parent" (click)="closeSidenav()">
        მოდული 5: Best Practices & Project
      </a>
    </nav>
  </aside>
  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>