/* Global resets/additions */
html,
body,
app-root {
    height: 100%;
}

* {
    font-family: 'Noto Sans Georgian';
}

/* Project colors (usable outside Tailwind) */
:root {
    --color-primary: #0f172a;
    --color-secondary: #1E293B;
}

.text-primary {
    color: var(--color-primary);
}

.bg-primary {
    background-color: var(--color-primary);
}

.border-primary {
    border-color: var(--color-primary);
}

.text-secondary {
    color: var(--color-secondary);
}

.bg-secondary {
    background-color: var(--color-secondary);
}

.border-secondary {
    border-color: var(--color-secondary);
}